.sidebarOption{
    display:flex ;
    align-items: center;
    margin-left: 40px;
    font-size: 20px;
    width:fit-content;
    margin-bottom: 15px;
}
.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }

.icon--btn{
    font-size: 25px !important;
    /* padding-left: 20px; */
    cursor: pointer;
}
h2{
    padding: 0 20px 0 20px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

  .tweet__btn {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
  }